* {
  margin: 0;
  padding: 0;
  opacity: 1;
}

html {
  text-decoration: none;
  display: center;
  text-align: center;
  align-content: center;
  font-size: 1.1em;
}

body {
  background-color: rgb(90, 88, 88);
  min-height: 5555px;
  line-height: 20px;
  text-indent: 8px;
  letter-spacing: 2px;
  color: white;
}

header {
  /* background-color: rgb(94, 113, 65); */
  width: 100%;
  text-decoration: none;
  height: 50Px;
  position: fixed;
  z-index: 9999;
}

.topnav ul {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  /* color: rgb(13, 13, 13); */
  display: flex;
  background-color: rgb(125, 124, 124);
  background-repeat: repeat-x;
  text-decoration: none;
  width: 100%;
  justify-content: space-around;
}
ul {
  color: brown;
  list-style-type: none;
  opacity: 1;
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px 12px;
  /* color: rgb(141, 46, 46);  */
  overflow: hidden;
  transition: 0.4s;
  position: relative;
}
li {
  color:rgb(238, 236, 234);
}
a {
  transition: all 0.4s ease-in-out;
}
 /* mouse over link */
a:hover {
  background-color: aqua;
  transform:translate(0, +6px);
}
/* unvisited link */
/* a:link {
  color:rgba(212, 15, 15, 0.262)
} */
/* selected link */
a:active {
  color: rgb(0, 255, 123);
}

h1,
h2,
h3,
h4,
h5,
h6 
h3,
h4,
h5,
h6 {
  color: rgb(241, 162, 35);
  justify-content: space-between;

}

.main-content {
  position: absolute;
  list-style: none;
  width: 85%;
  /* top: 20%; */
  padding: 20%; 
  right: 5%;
  left: 5%;
  align-items: center;
  justify-content: center;
 }  
 
  .selfie {
  float: left;
  width:15%;
  left: 15%;
  padding: 8px;
  margin-top: 300px;
  margin-left: 30px;
  border: 5px solid transparent;
  padding: 8px;
  border-image: url(imgaes/my\ maize\ farm.jpeg) 30 round;
  }
  
 p {
  color: rgb(253, 253, 254);
  list-style: none;
}

#my-github {
  text-decoration: none;
  font-size: inherit;
  color: rgb(18, 18, 17);
}

.experience {
  text-decoration: none;
}

.footer {
  background-color: rgb(124, 120, 116);
  /* text-transform: uppercase; */
  text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 2px;
  font-size: .9em;
  width: 100%;
}